{{ form_start(form) }}


     <label for="client">{% trans %}Client{% endtrans %} </label>
    {{ form_row(form.client, {'label': ' '}) }}

    <label for="type">{% trans %}Type{% endtrans %} </label>
    {{ form_row(form.type, {'label': ' '}) }}

    
    {{ form_row(form.description, {'label': 'Description'}) }}


    
    <button class="btn btn-primary">{% trans %}Enregistrer{% endtrans %} </button>
    

{{ form_end(form) }}