{{ form_start(form2) }}

    
    {{ form_row(form2.nom) }}

    
    {{ form_row(form2.prenom) }}

    
    {{ form_row(form2.adresse) }}

<select name="monselect" id="monselect">test</select>
    <button class="btn btn-primary">{% trans %}Enregistrer{% endtrans %}</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Annuler{% endtrans %} </button>
    
{{ form_end(form2) }}
