

{% block body %}


	<div class="row">
		<h1>tâches en cours</h1>
		{% for user in tasks|filter(user => user.user != NULL) %}

			<div class="card text-white bg-primary m-5" style="max-width: 18rem;">
				<div class="card-header border-0">tâche n°
					{{ (user.id) }}
				</div>
				<div class="card-body">
					<h5 class="card-title">Description:
					</h5>
					<p class="card-text">{{ (user.description) }}</p>
					<p class="card-text"> Nom: {{ (user.client.nom) }} {{ (user.client.prenom) }}</p>
					<p class="card-text">type: {{ (user.type) }}</p>
				</div>
				<div class="card-footer bg-dark">{{ (user.user.nom) }}
					{{ (user.user.prenom) }}</div>
			</div>


		{% endfor %}
	</div>

{% endblock %}
