

{% block body %}


	{# {<div class="row">
		<h1>Mes opérations</h1>
		{% for user in tasks|filter( user => user.user == app.user and user.status.id == 2)  %}

			<div class="card text-white bg-success m-5" style="max-width: 18rem;">
				<div class="card-header">Client : {{ (user.client.nom) }} {{ (user.client.prenom) }}</div>
				<div class="card-body">
					<h5 class="card-title">Description:
					</h5>
					<p class="card-text">{{ (user.description) }}</p>
					<p class="card-text"> Nom: {{ (user.client.nom) }} {{ (user.client.prenom) }}</p>
					<p class="card-text">type: {{ (user.type) }}</p>
					<p class="card-text">Tarification: {% if user.type == "PETITE" %}1000 €{% endif %}{% if user.type == "MOYENNE" %}2500 €{% endif %}{% if user.type == "GROSSE" %}10000 €{% endif %}</p>

				</div>
				<div class="card-footer bg-dark">{{ (user.user.nom) }}
					{{ (user.user.prenom) }}
				</div>
				<div class="footer mb-3">
					<a href="{{ path('app_task_termineTask', { 'id': user.id }) }}" type="button" class="btn btn-secondary">Terminé</a>
				</div>
			</div>

		{% endfor %}
	</div>  #}


<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Mes opérations</h1>
	</div>


	{% for user in tasks|filter( user => user.user == app.user and user.status.id == 2)  %}
	<div class="row">

		<div class="col-lg-4">


			<!-- Basic Card Example -->
			<div class="card shadow mb-4">
				<div class="card-header py-3">
					<h6 class="m-0 font-weight-bold text-primary">Client : {{ (user.client.nom) }} {{ (user.client.prenom) }}</h6>
					<h6 class="m-0 font-weight-bold text-primary">Utilisateur : {{ (user.user.nom) }} {{ (user.user.prenom) }}</h6>
				</div>
				<div class="card-body">
					<p class="card-text">{{ (user.description) }}</p>
					<p class="card-text">Type: {{ (user.type) }}</p>
					<p class="card-text">Tarification: {% if user.type == "PETITE" %}1000 €{% endif %}
						{% if user.type == "MOYENNE" %}2500 €{% endif %}{% if user.type == "GROSSE" %}10000 €{% endif %}</p>
				</div>
				<div class="footer mb-3">
					<a href="{{ path('app_task_termineTask', { 'id': user.id }) }}" type="button" class="btn btn-primary">Terminé</a>
				</div>

			</div>

		</div>

		

	</div>
	{% endfor %}
</div>



{% endblock %}

