


{% block body %}


	<div class="row">
		<h1>taches non assignées</h1>
		{% for user in tasks|filter(user => user.user == NULL) %}

			<div class="card text-dark bg-light m-5" style="max-width: 18rem;">
				<div class="card-header">tâche n°
					{{ (user.id) }}</div>
				<div class="card-body">
					<h5 class="card-title">Description:
					</h5>
					<p class="card-text">{{ (user.description) }}</p>
					<p class="card-text"> Nom: {{ (user.client.nom) }} {{ (user.client.prenom) }}</p>
					<p class="card-text">type: {{ (user.type) }}</p>
				</div>

				<div class="footer mb-3">
					<a href="{{ path('app_task_alloueTask', { 'id': user.id }) }}" type="button" class="btn btn-primary">Alloué</a>

				</div>
			</div>

		{% endfor %}
	</div>

{% endblock %}
