

{% block body %}



		{% for message in app.flashes('failed') %}
				<div class="flash-notice">
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="btn" data-dismiss="alert">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only"></span>
						</button>&nbsp{{ message }}
				</div>
				</div>
			{% endfor %}

			{% for message in app.flashes('success') %}
				<div class="flash-notice">
					<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="btn" data-dismiss="alert">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only"></span>
						</button>&nbsp{{ message }}
					</div>
				</div>
			{% endfor %}


            <!-- Begin Page Content -->
            

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800 ml-5">{% trans %}Opérations non assignées{% endtrans %} </h1>
                    </div>

           	<div class="container-fluid">
				<div class="row"> 
					{% for user in tasks|filter(user => user.user == NULL)|sort((a , b) => a.client.nom <=> b.client.nom) %}
                		<div class="col-xl-4 col-lg-4 col-md-6 d-flex align-items-stretch">
			

								<!-- Basic Card Example -->
								<div class="card shadow m-4">
									<div class="card-header py-3">
										<h6 class="m-0 font-weight-bold text-primary">{% trans %}Client :{% endtrans %}  {{ (user.client.nom) }} {{ (user.client.prenom) }}</h6>
									</div>
									<div class="card-body">
										<p class="card-text">{{ (user.description) }}</p>
										<p class="card-text">{% trans %}Type:{% endtrans %}  {{ (user.type) }}</p>
										<p class="card-text">{% trans %}Tarification:{% endtrans %}  {% if user.type == "PETITE" %}1000 €{% endif %}
											{% if user.type == "MOYENNE" %}2500 €{% endif %}{% if user.type == "GROSSE" %}10000 €{% endif %}</p>
									</div>
									<div class="footer mb-3">
										<a href="{{ path('app_task_alloueTask', { 'id': user.id }) }}" type="button" class="btn btn-primary ml-3">{% trans %}Attribution{% endtrans %} </a>
									</div>
								</div>
							
                        </div>                       
					 
				{% endfor %}
				</div>
            </div>


{% endblock %}
	
			
		
