{% extends 'base.html.twig' %}

{% block title %}affichage des tâches{% endblock %}

{% block body %}

 <div class="container">
    <div class="row">
      
          
{% for user in tasks|filter(user => user.user == NULL) %}
     
    <div class="card text-dark bg-danger m-5" style="max-width: 18rem;">
  <div class="card-header">tâche n° {{ (user.id) }}</div>
  <div class="card-body">
    <h5 class="card-title">Description: </h5>
    <p class="card-text">{{ (user.description) }}</p>
    </div>
    <div class="footer mb-3">
      <a href="{{ path('app_task_alloueTask', { 'id': user.id  }) }}" type="button" class="btn btn-outline-primary">Alloué</a>
    </div>

  
</div>

{% endfor %}

    </div>
  </div>

{% for user in tasks|filter(user => user.user != NULL) %}

<div class="card text-white bg-primary m-5" style="max-width: 18rem;">
  <div class="card-header">tâche n° {{ (user.id) }}</div>
  <div class="card-body">
    <h5 class="card-title">Description: </h5>
    <p class="card-text">{{ (user.description) }}</p>
  </div>
</div>

{% endfor %}

{# {% for user in tasks|filter(user => user.status_id == 3) %}

<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Success card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

{% endfor %} #}



{% endblock %}